.search-bar{
    margin:auto;
    width: 50%;
}

.search-bar input{
    width: 50vw;
    border-style: solid;
    border-color: black;
    border-radius: 500px;
}

/*
Used to fill page with map
*/
.leaflet-container{
    height: 1000px;
}